{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="container">
	<h2>Password Reset Link Sent</h2>
	<br>
	<strong>We have sent a password reset link to your email. Please check your email.</strong>
	<p>
		If you don't recieve the receive the email, Follow the below steps:
	</p>
	<p>
		<strong>Step 1: </strong>Check your email spams to see if the email is in your spam emails. If unavailable, follow step 2.
	</p>
	<p>
		<strong>Step 2: </strong>Please make sure you enter the <strong>email address you registered with</strong> and try 'Send instructons' agian. If this fails, please contact user support help at <a href="mailto: ewastemanagerinfo@gamil.com">ewastemanagerinfo@gamil.com</a>
	</p>
	
	<a href="{% url 'homepage' %}">Back to Home Page</a>
</div>
{% endblock %}