{% extends 'base_forms.html' %}
{% block title %}New Password Confrim {% endblock %}
{% block form %}
	{% csrf_token %}
	<div class="container">
		<div id="passwords" class="passwords input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list"  placeholder="Enter Your Password">
            <span style="color: red"></span>
            <p></p>
            <p></p>
        </div>
		<div id="passwords" class="passwords input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
			<input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"  placeholder="Re-type Your New Password">
			<span style="color: red"></span>
			<p></p>
			<p></p>
		</div>
		<ul>
		  <li>Your password can’t be too similar to your other personal information.</li>
		  <li>Your password must contain at least 8 characters.</li>
		  <li>Your password can’t be a commonly used password.</li>
		  <li>Your password can’t be entirely numeric.</li>
		  </ul>
		</div>
		<input class="button" type="submit" value="Confrim Password Reset"/>
		<a href="{% url 'homepage' %}">Back to Homepage</a>
	</div>
	
{% endblock %}