{% extends 'base_forms.html' %}
{% block title %} Password Reset{% endblock %}
{% block form_head %}Password Reset {% endblock %}
{% block form %}
    <div class="form_errors">
        <p>{{form.non_field_errors}}</p>
    </div>
    {% csrf_token %}
    <p>Enter your email address below, and we'll email instructions for setting a new password.</p>
    <div id="username" class="information input_field"><span><i aria-hidden="true" class="fa fa-user"></i></span>
        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
    </div>
    <input type="submit" value="Send me instructions!">
    
{% endblock %}