{% extends 'base.html' %}
{% load static %}
{% block styles %}
	<style type="text/css">
		.card{
			border-style: solid;
			border-radius: 1em;
			padding: 0.5em;
			margin: 1em;
		}
		#shipping {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		#shipping td, #shipping th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		#shipping tr:nth-child(even){background-color: #f2f2f2;}

		#shipping tr:hover {background-color: #ddd;}

		#shipping th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #04AA6D;
		  color: white;
		}
		.countryselectwidget{
			width: 50%;
		}
		form input{
			padding: 11px 20px;
			margin: 8px 0;
			width: 100%;
			box-sizing: border-box;
		}
	</style>
	<script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we wanr?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>
{% endblock %}
{% block content %}
	<h1>User Dashboard</h1>
	<h3>Email: {{user.email}}</h3>
	<div class="card">
		<h3>Your Pick Up Requests</h3>
		<div>
			{% if pick_up_requests %}
			<table id="shipping">
				<tr>
					<th>Item</th>
					<th>Agent</th>
					<th>Status 
						<!-- <small>Click to update
					</small> --></th>
					<th>Date</th>
				</tr>
				{% for item in pick_up_requests %}
				<!-- <div class="alert{{item.id}} alert-success" style="text-align: center; display: hidden;"></div> -->
				<tr>
					<td>{{item.ewaste}} <a href="{%url 'eWaste_details' item.id %}"><i class="fa fa-eye"></i></a></td>
					<td>{{item.agent}}</td>
					<td>
						<a href="#" style="font-weight: bold;">{{item.status}}</a>
						<small><a href="{% url 'comment' item.id %}">Submit Comment</a></small>
						
						<!-- {% if item.status == 'Pending' %}
						<div class="action{{item.id}}">
							<button type="button" class="btn btn-primary confirmBtn" confrimBtn data-item= "{{item.id}}" data-action="confirm">
						  	Update to Picked
							</button>
						</div>
						{% endif %} -->
						<a href="#" class="newData"></a>
					</td>
					<td>{{item.uploaded}}</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<h3>You have made no Pick UP Requests yet.</h3>
			{% endif %}
		</div>
	</div>

</div>
{% endblock %}
{% block scripts %}
	<!-- <script type="text/javascript">
		var btn = document.getElementsByClassName('confirmBtn')
		for (var i = 0; i < btn.length; i++) {
		    btn[i].addEventListener('click', function(e) {
		        e.preventDefault();
		        var ewasteId = this.dataset.item
		        var action = this.dataset.action
		        console.log('ewasteId:', ewasteId, 'action:', action)
		        updateEWasteStatus(ewasteId, action)

		    })
		};
		function updateEWasteStatus(ewasteId, action, order) {
		    console.log('Attempting to Send Data');

		    if (action == 'confirm') {
		        var url = '/agents/ewaste_status_update/'
		    }
		    console.log("Sending...");
		    $.ajax({
		        headers: { 'X-CSRFToken': csrftoken },
		        type: 'POST',
		        url: url,
		        data: { 'ewasteId': ewasteId, 'action': action, 'order': order},
		        beforeSend: function() {
		            var action = '.action'
		            action += ewasteId
		            console.log(action);
		            $(action).hide();
		        },
		        success: function update_content(str) {
		            console.log("Status Updated!");
		            var html = ``;
		            var injection = '.alert';
		            injection += ewasteId;
		            console.log(injection);
		            &(injection).block();
		            html += `<p>You have updated an Items Status!</p>`;
		            document.querySelector(injection).innerHTML = html;
		            
		        },
		        error: function() {
		            console.log("Error Updating Item Status!");
		        },
		    });
		};
	</script> -->
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Item Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        If is has been picked click <a href="#">Picked</a>
        and it has not been picked click close.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Picked</button>
      </div>
    </div>
  </div>